.aside-skeleton {
  .aside-skeleton__header {
    display: flex;
    gap: 1rem;
  }

  .aside-skeleton__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 0.75rem;

    .aside-skeleton__form-field {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  .aside-skeleton__footer {
    display: flex;
    justify-content: end;
    gap: 1rem;
  }
}