.site-details {
  .site-details__name {
    margin: 0;
  }

  .site-details__close-button {
    position: absolute;
    right: 1rem;
    margin: 0;
  }

  .site-details__table {
    margin: 0;

    td {
      padding: 1.5rem 0 0.5rem;
    }

    .status-icon::before {
      top: 1.25rem;
    }

    .site-details__table-item {
      padding-left: $connection-status-icon-width;
      vertical-align: bottom;
    }

    .site-details__table-row-label {
      width: 25%;
    }

    .site-details__last-seen {
      padding-left: 0.25rem;
      overflow-wrap: nowrap;
    }

    .site-details__machines-statuses {
      display: grid;
      grid-template-columns: 1fr 1fr 100%;
      align-items: center;
      gap: 0.4rem;
      position: relative;
      right: $connection-status-icon-width;

      .site-details__machines-status-count {
        text-align: right;
      }
    }
  }

  hr {
    background: var(--vf-color-border-low-contrast);
    margin-bottom: 1rem;
  }
}
