@mixin maas-contextual-menu {
  .p-contextual-menu__non-interactive {
    border-bottom: 1px solid var(--vf-color-border-default);
    color: var(--vf-color-text-muted);
    font-size: 0.75rem;
    font-weight: 400;
    padding: $spv--x-small $sph--large;
    text-transform: uppercase;
  }
}

.p-generic-table.images-table {
  .custom {
    text-align: center;

    &.p-generic-table__skeleton-cell {
      display: flex;
      justify-content: center;
    }
  }

  td.p-generic-table__skeleton-cell {
    & > div {
      display: flex;
      flex-direction: column;
      gap: 2px;

    }

    .p-placeholder {
      height: $sp-large;
    }
  }
}
