.site-summary {
  padding: 1rem;
  margin: 0;
  font-size: 1rem;

  .p-card__title {
    @extend %table-header-label;

    line-height: normal;
    padding: 0;
    margin: 0;
    color: var(--vf-color-text-muted);
  }

  .site-summary__header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .site-summary__name {
      padding-top: 0.25rem;
      margin: 0;
      width: 70%;
    }

    .site-summary__button--edit {
      position: relative;
      align-self: end;
      margin: 0;
      bottom: 1rem;
    }
  }

  .site-summary__url {
    padding-top: 0;
    margin: 0;
  }

  .site-summary__table {
    margin: 0;

    td {
      padding: 0.75rem 0 0.5rem;
    }

    .site-summary__table-item {
      width: 40%;
    }

    .site-summary__last-seen {
      padding-left: 0.5rem;
      overflow-wrap: nowrap;
    }

    .p-meter__bar {
      margin: 0;
    }

    .status-icon {
      right: 1.5rem;
      padding-left: $connection-status-icon-width;
    }

    .status-icon::before {
      top: 0.45rem;
    }

    .connection__text {
      overflow: hidden;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    .site-summary__table-meter-wrapper {
      button {
        cursor: auto;
      }
    }
  }
}
